# /usr/lib/systemd/system/netns_outside@.service
#
# For each NSTYPE a symbolic link must be created:
# sudo ln -s /usr/lib/systemd/system/netns_outside@.service /etc/systemd/system/netns_outside-NSTYPE@.service
#
[Unit]
Description=Setup %J for, but outside, network namespace %I
Documentation=https://github.com/CarloWood/systemd-netns
# This unit is started as a dependency of netns-%j@%i.service.
RefuseManualStart=yes

# Create a new netns if needed.
Requires=netns_name@%i.service
After=netns_name@%i.service

# Stop this service when no longer needed.
StopWhenUnneeded=yes

[Service]
# We are not forking anything and we are only to be considered 'active' once all ExecStart's have finished.
Type=oneshot
# Stay active until stopped, which will run the ExecStop's to undo what the ExecStart's did.
RemainAfterExit=yes

# This is always sourced, it can be used to add values that are the same for a lot of %J values.
EnvironmentFile=/etc/conf.d/netns/default.conf
# Load instance-specific environment variables before running ExecStart/ExecStop.
EnvironmentFile=/etc/conf.d/netns/%j.conf
# This file may or may not exist.
EnvironmentFile=-/etc/conf.d/netns/%j-%i.conf

# Command to run outside the namespace on start.
ExecStart=netnsinit "%J" "%I" up outside

# Command to run outside the namespace on stop.
ExecStop=netnsinit "%J" "%I" down outside
