# /usr/lib/systemd/system/netns-new@.service
#
# Create a new network namespace for %I.
# Units that Requires this can access the netns through
# the PID obtained with:
# 
# systemctl show --value -p MainPID netns-new@%i.service

[Unit]
Description=Create private network namespace
Documentation=https://github.com/CarloWood/systemd-netns

# This unit can only be started as a dependency of netns-outside@%i.service
# (which in turn can only be started as dependency of netns@%i.service).
RefuseManualStart=yes

# This unit should be started and stopped when netns-outside@%i.service is started and stopped.
PartOf=netns-outside@%i.service

[Service]
# Create a private, anonymous network namespace for this service.
PrivateNetwork=yes

# Keep the network namespace alive by keeping a process running.
Type=forking
ExecStart=sh -c 'exec sleep infinity &'
ExecStop=/bin/kill -TERM $MAINPID
Restart=no
