# /usr/lib/systemd/system/netns-new@.service
#
# Create a new network namespace named %I.
#
# Prerequisite: netns %I does not exist:
# $ ip netns list
# does not show a name %I.
#
# Postcondition: netns %I exists:
# $ ip netns list
# shows the name %I.

[Unit]
Description=Create network namespace %I
Documentation=https://github.com/CarloWood/systemd-netns

# This unit can only be started as a dependency of netns-outside-<nstype>@%i.service
# (which in turn can only be started as dependency of netns-<nstype>@%i.service).
RefuseManualStart=yes
RefuseManualStop=yes

# This unit can be stopped when the last netns-outside@<nstype>-%i.service is stopped.
StopWhenUnneeded=yes

[Service]
# Keep the network namespace alive by keeping a process running.
Type=oneshot
RemainAfterExit=yes

# Create a new network namespace with name %I.
# This only succeeds if the namespace doesn't already exist.
ExecStart=ip netns add %I

# If this service is stopped, remove the namespace.
ExecStop=ip netns del %I
